/* _icons.scss */
@use "./_variable.scss" as *;
$link-default-icon: url("@/assets/icons/IconEasyMart.svg");
$white-color: #ffffff;

@mixin setIcon($icon-name, $icon-x, $icon-y, $icon-size, $color: "", $color-hover: "", $icon-link: "") {
    @if $icon-link == "" {
        $icon-link: $link-default-icon;
    }
    @if $color == "" {
        .#{$icon-name} {
            min-width: $icon-size;
            min-height: $icon-size;
            width: $icon-size;
            height: $icon-size;
            background: $icon-link $icon-x $icon-y no-repeat;
            cursor: pointer;
        }
    } @else {
        .#{$icon-name} {
            min-width: $icon-size;
            min-height: $icon-size;
            width: $icon-size;
            height: $icon-size;
            -webkit-mask: $icon-link no-repeat $icon-x $icon-y;
            mask: $icon-link no-repeat $icon-x $icon-y;
            background-color: $color;
            cursor: pointer;

            @if $color-hover != "" {
                &:hover {
                    background-color: $color-hover;
                }
            }
        }
    }
}

@mixin setIconCustomSize($icon-name, $icon-x, $icon-y, $icon-width, $icon-height, $icon-link: "") {
    @if $icon-link == "" {
        $icon-link: $link-default-icon;
    }
    .#{$icon-name} {
        min-width: $icon-width;
        min-height: $icon-height;
        width: $icon-width;
        height: $icon-height;
        background: $icon-link $icon-x $icon-y no-repeat;
        cursor: pointer;
    }
}
// Icon16px
@include setIcon(icon-close16, -103px, -134px, 16px, #9ca3af);
@include setIcon(icon-add-16, -87px, -134px, 16px, $primary-color);

// Icon20px
@include setIcon(icon-plus, -85px, -132px, 20px);
@include setIcon(icon-decrease, -327px, -176px, 20px);

// Icon24px
@include setIcon(icon-trash-24, -95px, -250px, 24px, #ef4444);
@include setIcon(icon-search, -37px, -250px, 24px);
@include setIcon(icon-scan, -67px, -250px, 24px);
